---
import SearchBar from '@/components/SearchBar.astro';
import CurrentWeather from '@/components/CurrentWeather.astro';
---

<div id="app">
  <h1>Weather App</h1>
  <SearchBar />
  <CurrentWeather />
</div>

<script>
  import '@/scripts/weather';
</script>