---
import SearchBar from '@/components/SearchBar.astro';
import CurrentWeather from '@/components/CurrentWeather.astro';
import DailyForecast from '@/components/DailyForecast.astro';
import HourlyForecast from '@/components/HourlyForecast.astro';
---

<div id="app">
  <h1>Weather App</h1>
  <SearchBar />
  <CurrentWeather />
  <DailyForecast />
  <HourlyForecast />
</div>

<script>
  import '@/scripts/weather';
</script>