---
import SearchBar from '@/components/SearchBar.astro';
import CurrentWeather from '@/components/CurrentWeather.astro';
---

<div id="app">
  <h1>Weather App</h1>
  <SearchBar />
  <CurrentWeather />
</div>

<script
  type="module"
  src="/src/scripts/weather.ts">
</script>