<div class="search-bar">

  <input
    type="text"
    id="city-search"
    placeholder="Search city..."
  />

  <div id="results"></div>

  <select id="favorites-dropdown">
    <option value="">Favorites</option>
  </select>

</div>

<script
  type="module"
  src="/src/scripts/search.ts">
</script>