<div class="search-bar">
  <input
    type="text"
    id="city-search"
    placeholder="Search city..."
  />

  <div id="results"></div>
</div>

<script
  type="module"
  src="/src/scripts/search.ts">
</script>