---
import '@/styles/global.scss';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Weather App</title>
  </head>

  <body>
    <slot />
  </body>
</html>